.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;
    background-color: black;
}

.barContainer{
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: rgb(54, 6, 46);
}

.bar{
    margin: 0 auto;
}

.buttonContainer{
    margin: 0 auto;
}

.left{
    margin-right: 50px;
}